.DS_Store
/.gradle
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/libraries
/.idea/codeStyleSettings.xml
/local.properties
/captures
/build
/app/app.iml
/app/build
/gradle.properties